.sidebar-travel{
    font-size: 24px;
    color: #e3dfdf; /* Устанавливает цвет текста серым */
    text-shadow:
             1px 1px 1px #085db0
}
.confirm-container{
    width: 100%;
    align-items: end;
    align-self: start;
    justify-content: space-between;
    flex: 1;
}

