.form_conteiner {

    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    height: 100vh;
}

.form {
    border: solid 2px black;
    border-radius: 15px;
    padding: 10px;
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.ant-form-item-required{

    white-space: pre-wrap;
    padding: 5px;
    text-align:center;
}
.ant-form-item .ant-form-item-label{
    text-align: start;

    white-space: pre-wrap;
    padding: 5px;

}
.ant-form-item .ant-form-item-label >label::after{
    margin-right: 0;
    margin-left: 10px;
}
.ant-form-horizontal .ant-form-item-control{
    align-self: center;
}
