.nav{
    padding: 20px 0;
    border-bottom: 1px solid #26292D;
    background-color: #171818;
    color:#FFFFFF;
}
.nav-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
    row-gap: 20px;
    flex-wrap: wrap;
}
.container{
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;
}
.logo{
    color: #FFFFFF;
    font-size: 24px;
    font-family: 'Poppins',sans-serif;
}