.add-place label{
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size:20px;

}
.add-place p{
    margin-left: 15px;
    font-size:11px;
}
.add-place {
    border-radius: 10px;
    height: 100px;
    display: inline-grid;
    width: 100%;
    margin-bottom: 10px;
    background-color: #7d7d7d;
    color: white;
}
.TimeLine{
    width: 98%;
}
.DeleteButton{
    position: absolute;
    top: 0;
    right: 0;
}