.ant-drawer-close {
  position: absolute;
  right: 0;
  z-index: 1000;
}

.draw {
  top: var(--nav-height);
  position: relative;
  top: 0;


  pointer-events: all;
  height: calc(100vh - var(--nav-height));
  height: 500px;
}

.drawButton {
  pointer-events: all;
  background-color: #fff;
  opacity: 0.7;
  border-color: black;
  color: black;
}

.sidebar {
  display: flex;
  flex-direction: column;
}
/* Общие стили для боковой панели */
.sidebar {
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Скрываем переполнение */
}

.sidebar-travel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  flex-shrink: 0; /* Запрещаем сжиматься */
}

.TimeLine {
  overflow-y: auto; /* Добавляем вертикальную прокрутку */
  padding: 20px;
  height: 70%;
}

.confirm-container {
  padding: 20px;
  flex-shrink: 0; /* Запрещаем сжиматься */
}

.avatar-uploader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-uploader img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}

/* Стили для модального окна */
.ant-modal-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ant-select-selector {
  display: flex;
  align-items: center;
}

.ant-upload-list-picture-card-container {
  display: none; /* Скрываем список загруженных файлов */
}

.sidebarContainer {
  display: flex;

  flex-direction: column;
  align-items: center;
  gap:10px;
}

.typeAndScore {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sidebarRating {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.sidebarRatingValue {
  font-size: 16px;
  font-weight: 500;
}

.sidebarStar {
  color: gold;
  font-size: 20px;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  gap: 10px; 
}

.reviewButton {
  white-space: normal; 
  width: 100px; 
  text-align: center;
  height: auto;
  padding: 2px;
}

.carouselContainer {
  max-width: 200px;
  max-height: 200px;
  overflow: hidden;
  margin: 0 auto;
}

.carouselImage {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}