.interests-container {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 20px;
    width: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    border: solid 2px rgb(164, 160, 160);
}

.interests-header {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
}

.interest-item {
    font-size: 18px;
    margin-bottom: 4px;
}
