.container {
    text-align: -webkit-center;
    justify-content: center;
    width: 90%;
    height: 800px;
    padding: 20px 20px 100px;
    /*margin-bottom: 150px;*/
    margin-left: 10px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    color: rgba(9, 9, 9, 0.8);
    /*border: 2px solid;*/
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, red, green, blue);
}

.hint-card {
    position: relative;
    font-size: 11px;
    text-align: right;
    display: flex;
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 15px;
    background-color: rgba(193, 185, 224, 0.8);
    border: 2px solid #5c62ec;
    flex-direction: column;
    justify-content: space-between;
}


.hint-card img {
    width: 40%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 15px;
}

.hint-card h2 {
    font-size: 13px;
    position: absolute;
    top: 0;
    left: 70%;
    transform: translateX(-50%);
    margin: 0;
    z-index: 2;
}
.hint-card .paragraphs{
    position: absolute;
    right: 0;
    z-index: 2;
    padding: 10px;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.CopyButton{
    z-index: 2;
    position: absolute;
    bottom: 10%;
    box-sizing: border-box;
    justify-self: flex-end;
    align-self: flex-end;
}