::-webkit-scrollbar { /* chrome based */
    width: 0;  /* ширина scrollbar'a */
    background: transparent;  /* опционально */
}

html {
    -ms-overflow-style: none;  /* IE 10+ */
    scrollbar-width: none; /* Firefox */
}

.homepage {
    overflow: scroll;
    height: 100vh;
    background-color: #dedede;
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container {
    position: absolute;
    top: 50%;
    display: inline;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    gap: 10px;
    transition: top 0.1s ease; /* Adjusted transition for smoothness */
}

.input-container input {
    padding: 5px;
    width: 300px;
}

.input-container button {
    background-color: #5c62ec;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.hints-container {
    position: absolute;
    bottom: -100%; /* Изначально скрыт снизу */
    text-align: center;
    width: 70%;
    height: 450px;
    transition: bottom 0.1s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hints-container div {
    background-color: #5c62ec;
    height: 90%;
    width: 30%;
    margin-right: 10px;
    margin-bottom: 300px;
}

.hidden-scroll {
    overflow: hidden;
}

.hints-card h1{
    font-family: 'Poppins', sans-serif ;
    margin-top: 10px;
}
